[submodule "PyBoot"]
	path = PyBoot
	url = https://github.com/MatthewPierson/PyBoot.git
[submodule "CFPropertyList"]
	path = CFPropertyList
	url = https://github.com/arx8x/CFPropertyList
[submodule "img4lib"]
	path = img4lib
	url = https://github.com/xerub/img4lib
